<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/qwebircsmall.png" alt="qwebirc" title="qwebirc"/></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">qwebirc</div><div class="version"></div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
  Copyright &copy; 2008-2012 Chris Porter and the qwebirc project.<br/>All rights reserved.<br/><br/>
  Licensed under the GNU General Public License, version 2 only.
  <p>
    <a href="http://www.qwebirc.org/" target="_blank">http://www.qwebirc.org/</a><br/>
  </p>
  <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
  <p>This software contains portions by the following third parties:</p>

  <table class="alignleft" style="text-align: left">
    <tr>
      <td>
        <li>
          MooTools v1.3 -- <a href="http://mootools.net/" target="_blank">http://mootools.net/</a><br/>
          Copyright &copy; 2006-2009 Valerio Proietti, MIT license.
        </li>
        <li>qwebirc icon -- <a href="http://meeb.org/" target="_blank">http://meeb.org/</a></li>
        <li>
          SoundManager 2 -- <a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank">http://www.schillmania.com/projects/soundmanager2/</a><br/>
          Copyright &copy; 2007 Scott Schiller (schillmania.com), BSD license.
        </li>
        <li>
          Beep sound -- made by Dreamcast on QuakeNet.<br/>
          Released into the public domain.
        </li>
        <li>
          MD5 implementation -- <a href="http://pajhome.org.uk/site/legal.html" target="_blank">http://pajhome.org.uk/site/legal.html</a>.<br/>
          Copyright (C) Paul Johnston 1999 - 2000, BSD license.
        </li>
        <li>
          Base64 functions -- <a href="http://www.webtoolkit.info" target="_blank">http://www.webtoolkit.info</a>.<br/>
          No author name present on site.
        </li>
      </td>
    </tr>
  </table>

  <p>Special thanks to various comments/suggestions/hardware/bug reports from Zarjazz, Bazerka, boojah, meeb, Microbe, morphium, Starman, truff, coekie, qip, soczol, tomaw, the muppets in #rogue (hi dunks!) and everyone else I forgot :(.</p>
  <p>Also, thank <b>*you*</b> for flying Rizon!</p>
  <input type="submit" value="Close" class="close" />
</div>
